.story-card {
  display: flex;
  flex-direction: row;
  margin: 25px 0px;
  border: 1px solid var(--main-text);
  border-radius: 5px;
  padding: 20px 10px;
}
.story-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.story-header {
  margin: 0px 8px 8px 0px;
}
.story-upvotes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -6px;
  width: 40px;
}

.story-score {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 600;
  color: var(--main-text);
}
.story-info-wrapper {
  margin-left: 10px;
}
.story-info-divider {
  margin: 0px 5px 0px 0px;
}
.story-info-el-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px 0px 0px;
}
.story-info-el {
  margin: 0px;
  color: var(--sub-text);
  display: flex;
  align-items: center;
  justify-content: center;
}
.story-info-collection-type {
  font-weight: 600;
  color: var(--main-text);
  opacity: 0.7;
  text-transform: uppercase;
}
.story-info-links {
  text-decoration: none;
  color: var(--sub-text);
  text-decoration-color: var(--sub-text);
}
.story-info-links:hover,
.story-info-links:focus {
  text-decoration: underline;
}
.story-title-wrapper {
  margin-bottom: 16px;
}
.story-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--main-text) !important;
  text-decoration: none !important;
  cursor: pointer;
}
.story-info {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}
.story-comments-wrapper .story-icon svg {
  font-size: 14px;
}
.story-comment {
  font-size: 12px;
  line-height: 1.25;
  margin-left: 5px;
}
.story-icon {
  display: flex;
  align-content: center;
  justify-content: center;
}
